@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::selection {
  background: #0092DD;
  color: #fff;
}

::-moz-selection {
  background: #0092DD;
  color: #fff;
}

body {
  font-family: "Microsoft YaHei", helvetica;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
a {
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  outline: none;
  font-family: "microsoft yahei";
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #444;
}

img {
  border: none;
  display: inline-block;
}

em,
i {
  font-style: normal;
}

.clear {
  height: 0;
  clear: both;
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table
}

.clearfix:after {
  clear: both
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mt_20 {
  margin-top: 20px;
}

.mt_10 {
  margin-top: 10px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_50 {
  margin-top: 50px;
}

.mt_60 {
  margin-top: 60px;
}

.mt_80 {
  margin-top: 150px;
}

.mt_100 {
  margin-top: 100px;
}

.mt_15 {
  margin-top: 15px;
}

.bgwhite {
  background: #FFFFFF;
}

.padding30 {
  padding: 30px;
}

.padding30s {
  padding: 0 30px 30px 30px;
}

.padding20 {
  padding: 20px;
}

.lrpadd20 {
  padding: 0 20px;
}

.paddbot20 {
  padding-bottom: 20px;
}

.tbpadd20 {
  padding: 20px 0;
}

.pdlr10 {
  padding: 0 10px;
}

.marl40 {
  margin-left: 40px;
}

.marl10 {
  margin-left: 10px;
}

.marl5 {
  margin-left: 5px;
}

.pdlr30 {
  padding: 0 30px;
}

.padding10 {
  padding: 10px;
}

.nopaddingtop {
  padding-top: 0;
}

.borderall {
  border: 1px solid #ddd;
}

.borderright {
  border-right: 1px solid #ddd;
}

.borderleft {
  border-left: 1px solid #ddd;
}

.bordertop {
  border-top: 1px solid #ddd;
}

.borderbot {
  border-bottom: 1px solid #ddd;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.wrap1000 {
  width: 1000px;
  margin: 0 auto;
}

.marl20 {
  margin-left: 20px;
}

.pdl10 {
  padding-left: 10px;
}

.block {
  display: block;
}

.row30 {
  margin-left: -30px;
}

.heig120 {
  height: 120px;
}

.posrelative {
  position: relative;
}

.hovopcity:hover {
  opacity: .85;
  opacity: .85;
  -moz-opacity: .85;
  -khtml-opacity: .85;
  filter: alpha(Opacity=85);
  cursor: pointer;
}

.distab {
  display: table;
}

.logoutbtn {
  background: #333333;
  margin-left: 5px;
}

.bggray {
  background: #F7F7F7;
}

.bgwhite {
  background: #fff;
}

.hovshadow:hover {
  box-shadow: 0 0 10px 1px #aaa;
  transition: all .5s;
}

.redcolor {
  color: #FF3F3F;
}

.redcolorn {
  display: inline-block;
  padding: 3px 8px;
  background: #FFBA00;
  color: #fff;
}

.yellowcolor {
  color: #FFBA00;
}

.bluecolor {
  color: #1AB2FD;
}

.greencolor {
  color: #14AB05;
}

.btnalink {
  display: inline-block;
  padding: 5px 8px;
  background: #ddd;
  border-radius: 5px;
}

.btnalink i {
  margin-right: 3px;
}

.btnalinks {
  background: none;
  padding: 5px 0;
}

.btnalink1 {
  background: #D9534F;
  color: #fff;
}

.btnalink2 {
  background: #ADD219;
  color: #fff;
}

.btnalinkborder {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 3px 0;
  border: 1px solid #ddd;
}

.btnalinkborder:hover {
  border-color: #D9534F;
  background: #D9534F;
  color: #fff;
}

.textright {
  text-align: right;
}

.txtline {
  text-decoration: underline;
}

.hovercolor:hover {
  color: #FF3F3F;
}

.borderalink {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #aaa;
}

.borderalink:hover {
  border-color: #D9534F;
  color: #D9534F;
}

.borderalinks {
  border-color: #1AB2FD;
  color: #1AB2FD;
  border-radius: 5px;
}

.fullwidth {
  width: 100%;
}

.imgsetw {
  display: block;
  max-width: 100%;
}

.imgset {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.tbcell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.tbcellimg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.maxset {
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.statesp {
  display: inline-block;
  color: #ADD219;
}

.statesp1 {
  color: #D9534F;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.imgpos {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  left: 0\9;
  top: 0\9;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
}

.limg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.row10 {
  margin-left: -10px;
}

.fontweit {
  font-weight: bold;
}

/**********************分页***************************/
/*.pager{
	margin-top: 20px;
	text-align: center;
}
.pager a{
	display: inline-block;
	padding: 6px 15px;
	color: #333;
	margin-left: 8px;
	border: 1px solid #aaa;
}
.pager a:hover{
	background: #612A2A;
	color: #fff;
	border-color: #612A2A;
}
.pager a.pageCurrent{
	background: #612A2A;
	color: #fff;
	border-color: #612A2A;
}*/
.font18 {
  font-size: 18px;
}

.font14 {
  font-size: 14px;
}

.disnone {
  display: none;
}

.cl9 {
  color: #999;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
  z-index: 20000;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
}

.loadered {
  transform: scale(5);
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  opacity: 0;
}

canvas {
  bottom: 0;
  box-shadow: 0 0 0 10px #111;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  /*-webkit-transform: rotate(45deg);
          transform: rotate(45deg);*/
}

.sanyilogo {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -157px;
  margin-top: -56px;
}