@charset "utf-8";

@import "./common.less";

.header {
	height: 80px;
	background: #d95900;
}

.logo {
	display: block;
	height: 80px;
	padding: 10px 0;
}

.menu a {
	display: block;
	height: 80px;
	line-height: 80px;
	float: left;
	font-size: 18px;
	color: #fff;
	margin-left: 50px;
}

.menu a:hover {
	color: #ff3f3f;
}

.banner {
	height: 550px;
	background: url("../resource/images/banner.jpg") no-repeat center;
	position: relative;
}

.banner_cont {
	width: 1200px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 50%;
	margin-top: -139px;
}

.banner_conts {
	top: 40%;
}

.search_c {
	width: 780px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

.sipt {
	height: 80px;
	display: block;
	width: 580px;
	background: #fff;
	padding: 0 20px;
	font-size: 24px;
}

.submitbtn {
	width: 200px;
	height: 80px;
	line-height: 80px;
	background: url("../resource/images/searchico.png") 40px center no-repeat #ff6800;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	text-align: left;
	text-indent: 85px;
}

.submitbtn:hover {
	background: url("../resource/images/searchico.png") 40px center no-repeat #d95900;
}

.section {
	padding: 60px 0;
}

.sec_tt h3 {
	font-size: 30px;
	font-weight: bold;
	color: #333;
}

.sec_subtt {
	margin-top: 5px;
	vertical-align: middle;
}

.sec_subtt span {
	display: inline-block;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}

.sec_subtt em {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	height: 1px;
	background: #999;
	width: 200px;
}

.sec_subtt em i {
	display: block;
	position: absolute;
	width: 3px;
	height: 3px;
	position: absolute;
	background: #aaa;
	border-radius: 50%;
	top: 50%;
	margin-top: -1.5px;
}

.sec_subtt em.lem {
	margin-left: -260px;
}

.sec_subtt em.lem i {
	right: 0;
}

.sec_subtt em.rem {
	margin-left: 60px;
}

.sec_subtt em.rem i {
	left: 0;
}

.fwlist {
	margin-left: -81px;
}

.fwitem {
	width: 346px;
	margin-left: 81px;
}

.fwico {
	width: 102px;
}

.fwtxt {
	width: 244px;
	padding-left: 15px;
}

.fwtxt h3 {
	font-size: 26px;
	color: #666;
}

.fwtxt p {
	margin-top: 18px;
	font-size: 16px;
	color: #666;
}

.fwtxt dd {
	margin-top: 5px;
	color: #ff3f3f;
}

.fwbtn {
	display: block;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	background: #1AB2FD;
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}

.fwbtn:hover {
	background: #0092DD;
}

.pjitem {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.pjitem:last-child {
	border-bottom: none;
}

.pjimg {
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.pjimg img {
	display: block;
	width: 100%;
	height: 100%;
}

.pj_r {
	width: 1150px;
	padding-left: 20px;
}

.pjr_t {
	font-size: 12px;
	color: #999;
}

.pdr_b {
	margin-top: 16px;
}

.pjr_t span {
	display: inline-block;
	color: #1AB2FD;
	margin: 0 3px;
}

.pjr_t em {
	display: inline-block;
	margin: 0 3px;
}

.newscont {
	margin-left: -30px;
}

.newsbox {
	width: 380px;
	margin-left: 30px;
	overflow: hidden;
}

.newsb_tt span {
	display: block;
	position: absolute;
	height: 40px;
	line-height: 40px;
	border-radius: 10px;
	background: #1AB2FD;
	color: #fff;
	border-radius: 10px;
	left: -10px;
	top: 10px;
	font-size: 18px;
	width: 140px;
	text-align: center;
	font-weight: bold;
}

.newsb_bot ul li a {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	// background: url("../resource/images/index2_47.png") no-repeat left center;
}

.newsb_bot ul li a span {
	width: 280px;
	padding-left: 8px;
	height: 19px;
	overflow: hidden;
}

.newsb_bot ul li a em {
	color: #999;
	height: 19px;
	width: 100px;
	text-align: right;
	overflow: hidden;
}

.newsb_bot ul li:hover a {
	// background: url("../resource/images/index2_47_b.png") no-repeat left center;
	color: #1AB2FD;
}

.morebtn {
	display: inline-block;
	border: 1px solid #666;
	color: #666;
	border-radius: 10px;
	padding: 10px 30px;
}

.morebtn:hover {
	color: #1AB2FD;
	border-color: #1AB2FD;
}

.cntul li {
	float: left;
	width: 240px;
}

.cntul li p {
	font-size: 14px;
	color: #666;
	padding-left: 30px;
}

.cntul li p img {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;
}

.cntul li dd {
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}

.cntul li:last-child dd {
	font-size: 18px;
}

.footer {
	background: #22252a;
}

.foot_top {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footmenu a {
	display: block;
	float: left;
	height: 60px;
	line-height: 60px;
	color: #ddd;
	margin-right: 80px;
}

.footmenu a:last-child {
	margin-right: 0;
}

.footmenu a:hover {
	color: #fff;
}

.foot_bot_l {
	width: 740px;
}

.foot_bot {
	padding: 30px 0;
}

.fot_tabc_hd span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	background: #0e0f11;
	color: #ddd;
	cursor: pointer;
	position: relative;
	margin-right: 10px;
}

.fot_tabc_hd span i {
	display: block;
	width: 13px;
	height: 6px;
	// background: url("../resource/images/arr.png") no-repeat center;
	position: absolute;
	left: 50%;
	bottom: -6px;
	margin-left: -6.5px;
	display: none;
}

.fot_tabc_hd span.active {
	background: #33383f;
}

.fot_tabc_hd span.active i {
	display: block;
}

.fot_tabitem {
	padding: 15px 0;
	color: #DDDDDD;
	line-height: 30px;
}

.fot_txt {
	color: #aaa;
	font-size: 14px;
}

.fot_txt p {
	vertical-align: middle;
	margin-top: 5px;
}

.fot_txt p:first-child {
	margin-top: 0;
}

.fot_txt p img {
	height: 14px;
}

.fot_txt dd {
	margin-top: 5px;
}

.fot_txt dd img {
	margin-right: 10px;
}

.fot_txt a {
	color: #aaa;
}

.fot_txt a:hover {
	color: #fff;
}

.yqcont {
	margin-top: -10px;
}

.yqcont a {
	color: #DDDDDD;
	margin-right: 20px;
	margin-top: 10px;
}

.yqcont a:hover {
	color: #fff;
}

.fot_tabitem {
	display: none;
}

.fot_tabitem:first-child {
	display: block;
}

.ewmbox {
	width: 100px;
	font-size: 12px;
	color: #DDDDDD;
}

.ewmbox p {
	margin-top: 5px;
	text-align: center;
}

.foot_bot_r {
	width: 280px;
}

.sidebar {
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -176.5px;
	width: 50px;
	background: #fff;
	box-shadow: -2px 0 5px rgba(0, 0, 0, .3);
	z-index: 100;
}

.sidebar a {
	display: block;
	text-align: center;
	padding: 8px 0;
	border-bottom: 1px solid #aaa;
	position: relative;
}

.sidebar a:last-child {
	border-bottom: none;
}

.sidebar a p i {
	font-size: 20px;
}

.sidebar a:hover {
	background: #22252a;
	color: #fff;
	border-color: #22252a;
}

.sidebar a dd {
	margin-top: 2px;
}

.sidebox {
	position: absolute;
	right: 50px;
	width: 200px;
	top: 0;
	background: #1AB2FD;
	color: #fff;
	padding: 10px;
	text-align: left;
	display: none;
	box-shadow: -2px 0 5px rgba(0, 0, 0, .3);
}

.sidebox i.fa-caret-right {
	position: absolute;
	font-size: 20px;
	color: #1AB2FD;
	top: 20px;
	right: -6px;
}

.sidepit p {
	font-size: 14px;
}

.sidepit dd {
	font-size: 20px;
}

.sidebar a:hover:hover .sidebox {
	display: block;
}

.ewmboxn {
	width: 80px;
	color: #fff;
}

.sideboxn {
	width: 150px;
	height: 100%;
	line-height: 39px;
	font-size: 20px;
}

.container {
	padding: 40px 0;
}

.main {
	padding: 20px;
	min-height: 400px;
	position: relative;
	z-index: 100;
	background: #fff;
	margin-top: -80px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.brdcont {
	background: url("../resource/images/banner.jpg") no-repeat center top;
	padding: 30px 0;
	padding-bottom: 60px;
}

.bread {
	height: 30px;
	line-height: 30px;
}

.bread_l {
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}

.bread_l span,
.bread_l em {
	display: inline-block;
	color: #FFBA00;
	margin: 0 3px;
	font-weight: bold;
}

.bread_r a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	background: #1AB2FD;
	color: #fff;
}

.bread_r a:hover {
	background: #0092DD;
}

.rs_table {
	border-collapse: collapse;
}

.rs_table th,
.rs_table td {
	padding: 15px;
	border: 1px solid #ddd;
	text-align: center;
}

.rs_table th {
	background: #eee;
	font-size: 16px;
}

.rs_table tr:hover {
	background: #fffae1;
}

.tips {
	background: #eee;
	padding: 15px;
}

.paybtn {
	display: inline-block;
	padding: 20px 100px;
	color: #fff;
	background: #FF3F3F;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 0 #ec3a3a;
}

.paybtn:hover {
	background: #ec3a3a;
	box-shadow: none;
}

.numcont {
	height: 19px;
	overflow: hidden;
}

#loading {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.loadcont {
	padding: 80px;
}

.loadcont h3 {
	font-size: 24px;
	color: #666;
}

/*标记查询结果取消入口修饰*/
.geturlcolor a:link {
	font-weight: bold;
}

.geturlcolor a:visited {
	font-weight: bold;
	color: #FF0000;
}


/*行为验证码*/

.btnmycaptcha {
	display: inline-block;
	padding: 10px 50px;
	color: #444444;
	background: #e4e6e6;
	font-size: 18px;
	border-radius: 10px;
	cursor: pointer;
}

.btnmycaptcha:hover {
	color: #FFFFFF;
	background: #4b4d4e;

}

/*线路查询相关板块*/

.searchvipbtn {
	display: inline-block;
	padding: 20px 100px;
	color: #fff;
	background: #3f5ca8;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 0 #273e79;
	cursor: pointer;
}

.searchvipbtn:hover {
	background: #101571;
	box-shadow: none;
}

.layui-layer-shade {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.layui-layer,
.layui-layer-shade {
	position: fixed;
	_position: absolute;
	pointer-events: auto;
}

.layui-layer-dialog {
	min-width: 260px;
}

.layer-anim {
	-webkit-animation-name: layer-bounceIn;
	animation-name: layer-bounceIn;
}

.layui-layer {
	border-radius: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-overflow-scrolling: touch;
	top: 150px;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-background-clip: content;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}

.layui-layer-title {
	padding: 0 80px 0 20px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	background-color: #F8F8F8;
	border-radius: 2px 2px 0 0;
}

.layui-layer-imgbar,
.layui-layer-imgtit a,
.layui-layer-tab .layui-layer-title span,
.layui-layer-title {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.layui-layer-dialog .layui-layer-content {
	position: relative;
	padding: 20px;
	line-height: 24px;
	word-break: break-all;
	overflow: hidden;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: auto;
}

.layui-layer-content {
	position: relative;
}

.layui-layer-dialog .layui-layer-content {
	position: relative;
	padding: 20px;
	line-height: 24px;
	word-break: break-all;
	overflow: hidden;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: auto;
}

.layui-layer,
.layui-layer-shade {
	position: fixed;
	_position: absolute;
	pointer-events: auto;
}

.layui-layer-setwin .layui-layer-close1 {
	background-position: 1px -40px;
	cursor: pointer;
}

.layui-layer-btn a,
.layui-layer-dialog .layui-layer-ico,
.layui-layer-setwin a {
	display: inline-block;
	vertical-align: top;
}

.layui-layer-setwin {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 0;
	line-height: initial;
}

.layui-layer-setwin a {
	position: relative;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	font-size: 12px;
	_overflow: hidden;
}

.layui-layer-ico {
	// background: url("../resource/images/icon.png") no-repeat;
}

.layui-layer,
.layui-layer-shade {
	position: fixed;
	_position: absolute;
	pointer-events: auto;
}

.layui-layer-btn {
	text-align: right;
	padding: 0 10px 12px;
	pointer-events: auto;
	user-select: none;
	-webkit-user-select: none;
}

.layui-layer-btn .layui-layer-btn0 {
	border-color: #4898d5;
	background-color: #2e8ded;
	color: #fff;
}

.layui-layer-btn a {
	height: 28px;
	line-height: 28px;
	margin: 6px 6px 0;
	padding: 0 15px;
	border: 1px solid #dedede;
	background-color: #f1f1f1;
	color: #333;
	border-radius: 2px;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
}

.layui-layer-btn a,
.layui-layer-dialog .layui-layer-ico,
.layui-layer-setwin a {
	display: inline-block;
	vertical-align: top;
}

.layui-layer-btn a {
	height: 28px;
	line-height: 28px;
	margin: 6px 6px 0;
	padding: 0 15px;
	border: 1px solid #dedede;
	background-color: #f1f1f1;
	color: #333;
	border-radius: 2px;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
}

.layui-layer-btn a,
.layui-layer-dialog .layui-layer-ico,
.layui-layer-setwin a {
	display: inline-block;
	vertical-align: top;
}

.layui-layer-resize {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0;
	bottom: 0;
	cursor: se-resize;
}